{
    "bracketSpacing": true,
    "overrides": [
        {
            "files": [
                "*.yml",
                "*.yaml",
                "*.scss"
            ],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ],
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "printWidth": 160
}