@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.MuiCardContent-root {
  padding: 20px 0 !important;
  // max-width: calc(100% - 255px);
  background-color: #ededed;
}

.main-logo {
  padding: 20px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;

  .menu-logo {
    display: flex;
    align-items: center;
  }

  .mini-nav {
    display: flex;
    svg {
      margin: 0 5px;
    }
  }
}

.hidden {
  display: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  .MuiCardContent-root {
    max-width: 100%;
  }
}

// @media (min-width: 768px) {
//   .main-logo {
//     margin-left: 256px;
//   }
// }
